<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <google-map
        height="500px"
        width="100%"
        [zoom]="zoom"
        [center]="center"
        [options]="options"
        (mapClick)="onMapClick($event)"
      >
        <map-marker
          #somemarker="mapMarker" 
          *ngFor="let marker of markers"
          [position]="marker.position"
          [label]="marker.label"
          [title]="marker.title"
          [options]="marker.options"
          [clickable]="true"
          (mapRightclick)="openInfo(somemarker, marker.index)"
          (mapDragend)="onDragMarker($event,marker)"
        >
        </map-marker>

        <map-info-window>
          {{openMarker.title}}
          <select class="form-control" #markerPoint (change)="changeOrderOfMarkers(markerPoint.value)">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </map-info-window>
      </google-map>
    </div> 

    <div class="col-lg-4">
      <h1>Directions Guide:</h1>
      <div id="rightPanel" #rightPanel></div> 
    </div>
  </div>
</div>