<google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="onMapClick($event)"
>
  <map-marker
    #somemarker="mapMarker" 
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    [clickable]="true"
    (mapRightclick)="openInfo(somemarker, marker.index)"
  >
  </map-marker>

  <map-info-window>
    <div (click)="changeNumber()">
      <p>This is test</p> 
    </div>
  </map-info-window>
</google-map>